In [1]:
import pandas as pd
# Завдання 1 Прочитайте CSV файл (використовуйте метод read_csv)

data = pd.read_csv("bestsellers_mn.csv", encoding = 'latin1')
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [2]:
# Завдання 2 Виведіть перші 10 рядків (метод head)

print(data.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [4]:
# Завдання 3 Виведіть розміри датасету (метод shape)

print("Розмір = ", data.shape )

Розмір =  (550, 7)

In [ ]:
# Питання: Про скільки книг зберігає дані датасет?
# Відповідь: 550

In [5]:
# Завдання 4 Змініть назви всіх колонок: назва з маленької 
# букви, без пробілів через підкреслення.

data.columns = [column.lower().replace(' ', '_') for column in data.columns]
data

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [6]:
# Завдання 5 Вивести кількість пропусків у кожному стовпчику

miss_value = data.isna().sum()
print(miss_value)

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [ ]:
# Питання : Чи є в якихось змінних пропуски? (Так / ні)
# Відповідь: Ні

In [7]:
# Завдання 6 За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 
unique = data['genre'].unique()
print(unique)

['Non Fiction' 'Fiction']

In [ ]:
# Питання : Які є унікальні жанри?
# Відповідь: NonFiction, Fiction

In [8]:
# Завдання 7 Визначте максимальну, мінімальну, медіанну ціну за
# допомогою методів  max, min, mean, median
max_price = data['price'].max()
min_price = data['price'].min()
mean_price = data['price'].mean()
median_price = data['price'].median()

print("Максимальна ціна = " + str(max_price))
print("Мінімальна ціна = " + str(min_price))
print("Середня ціна = " + str(mean_price))
print("Медіанна ціна = " + str(median_price))

Максимальна ціна = 105
Мінімальна ціна = 0
Середня ціна = 13.1
Медіанна ціна = 11.0

In [ ]:
# Питання: Максимальна ціна? 
# Відповідь: 105
# Питання: Мінімальна ціна?
# Відповідь: 0
# Питання: Середня ціна?
# Відповідь: 13.1
# Питання: Медіанна ціна?
# Відповідь: 11

In [17]:
# Завдання 8 Виконайте наступні завдання з пошуку і сортування даних
print()
print("Відповіді на питання до завдання 8 " )
print()

# Питання: Який рейтинг у датасеті найвищий? 
rating_up = data['user_rating'].max()
print("Питання: Який рейтинг у датасеті найвищий? ")
print("Відповідь: " + str(rating_up))
print()

# Питання: Скільки книг мають такий рейтинг? 
books_whighest = data[data['user_rating'] == rating_up]
books_whighest_count = books_whighest.shape[0]
print("Питання: Скільки книг мають такий рейтинг? ")
print("Відповідь: " + str(books_whighest_count))
print()

# Питання: Яка книга має найбільше відгуків? 
index_max_review = data['reviews'].idxmax()
book_max_review = data.loc[index_max_review, 'name']
print("Питання: Яка книга має найбільше відгуків? ")
print("Відповідь: " + str(book_max_review))
print()

# Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
top50_2010_exp = data[(data['year'] == 2010)]
most_exp_2010 = top50_2010_exp[top50_2010_exp['price'] == top50_2010_exp['price'].max()]
print("Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? ")
print("Відповідь: " + str(most_exp_2010))
print()

# Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
fict_books = data[(data['genre'] == 'Fiction') & (data['year'] == 2012)]
count_fict = fict_books.shape[0]
print("Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році ")
print("Відповідь: " + str(count_fict))
print()

# Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 
book_rt49 = data[(data['user_rating'] == 4.9) & (data['year'].isin([2010,2011]))]
count_rt49 = book_rt49.shape[0]
print("Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?  ")
print("Відповідь: " + str(count_rt49))
print()

Відповіді на питання до завдання 8

Питання: Який рейтинг у датасеті найвищий?
Відповідь: 4.9

Питання: Скільки книг мають такий рейтинг?
Відповідь: 52

Питання: Яка книга має найбільше відгуків?
Відповідь: Where the Crawdads Sing

Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
Відповідь:                                                   name  \
272  Publication Manual of the American Psychologic...

                                 author  user_rating  reviews  price  year  \
272  American Psychological Association          4.5     8580     46  2010

           genre
272  Non Fiction

Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році
Відповідь: 21

Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?
Відповідь: 1

In [20]:
# Завдання 9 Вивести максимальну і  мінімальну ціну для жанру Fiction
# I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних 
# та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.
print()
res = data[data['genre'].isin(['Fiction', 'NonFiction'])].groupby('genre')['price'].agg(['min', 'max'])
print(res)
print()

         min  max
genre
Fiction    0   82